.error{
	color: red;
	font-style:italic;
	display: inline;
}
#uname,#a2,#a3,#a4,#a5{
	width: 90px}
#date{
	width: 140px}
#mod{width: 290px}
#primo,#second,#recense,#z-1,#z-2{
	float: left;}
fieldset{width: 203px}
img{width: 34px;height: 34px;}
/*#search{float: right;margin-right:500px }
	.error{	color: red;	font-style:italic;	display: inline;}
	#a1site,#a2site,#a1,#a2,#a3,#a4{width: 90px}#date{width: 140px}#mod{width: 290px}
	#uname,#a2,#a3,#a4,#a5{width: 90px}
	#date{	width: 140px}
	#mod{width: 290px}
	#primo,#second,#recense,#z-1,#z-2{float: left;}
	fieldset{width: 203px}*/